@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/*:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

@keyframes rgb-border {
  0% {
    box-shadow: 0 4px 15px 0 rgba(255, 0, 0, 0.7);
  }
  33% {
    box-shadow: 0 4px 15px 0 rgba(0, 255, 0, 0.7);
  }
  66% {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 255, 0.7);
  }
  100% {
    box-shadow: 0 4px 15px 0 rgba(255, 0, 0, 0.7);
  }
}

.rgb-shadow {
  animation: rgb-border 3s infinite alternate;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
}
